<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <!-- Favicons -->
    <link rel="shortcut icon" href="~/CustomContent/img/Icons/paw32.png">
    <link rel="apple-touch-icon" href="~/CustomContent/img/Icons/paw57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/CustomContent/imgIcons/paw72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/CustomContent/img/Icons/paw114.png">
    <title>@ViewBag.Title - Club Baskerville | since 1999</title>

    @Styles.Render("~/bundles/custom-styles")
    @Styles.Render("~/bundles/fonts")

</head>

<body class="index" id="page-top">
    <!-- Loader -->
    <div class="se-pre-con"></div>
    <!-- /.Loader -->
    @RenderBody()

    @Scripts.Render("~/bundles/custom-jquery")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/custom-bootstrap")
</body>
</html>