@model Baskerville.Models.ViewModels.Public.HomeViewModel

@{
    ViewBag.Title = "Начало";
}

<!-- Navigation -->
<nav class="navbar navbar-default nav-justified navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle are grouped for better mobile display -->

        <div class="navbar-header page-scroll">
            <button class="navbar-toggle" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
        </div>
        <!-- Navigation Links -->

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav nav-justified">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li> <a class="page-scroll" href="#page-top">Начало</a> </li>
                <li> <a class="page-scroll" href="#about">За нас</a> </li>
                <li> @Html.ActionLink("Меню", "index", "menu", null, new { @class = "page-scroll" }) </li>
                <li> <a class="page-scroll" href="#menu">Промоции</a> </li>
                <li> <a class="page-scroll" href="#events">Събития</a> </li>
                <li> <a class="page-scroll" href="#subscribe">Абонирай се</a> </li>
                <li> <a class="page-scroll" href="#contact">За нас</a> </li>
                <li> <a href="/en/home">EN <img src="~/CustomContent/img/icons/flag-en.png" alt="EN" /></a> </li>       
            </ul>            
        </div>        
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<!-- /.Navigation -->
<!-- Header -->
<header id="home">
    <div class="container">
        <!-- Intro Section: Logo, Heading & Address -->

        <div class="intro-text">
            <div class="fadeInDown wow">
                <div class="intro-lead-in">
                    <img alt="Baskerville" class="img-responsive center-block" height="123" src="~/CustomContent/img/baskerville5.png" width="682">
                    @*<img alt="Full Spoon" class="img-responsive center-block" height="100" src="~/CustomContent/img/paw.png" width="100">*@
                    @*<img alt="Full Spoon" class="img-responsive center-block" height="123" src="~/CustomContent/img/full-spoon-logo.svg" width="682">*@
                    @*<p class="mrgn40-btm"><img alt="Full Spoon" src="~/CustomContent/img/bits/cake.svg"> </p>*@
                </div>
                @*<div class="intro-heading"> Muffins & Cakes Café </div>*@
            </div>
            <p class="address  fadeInUp wow">ул. Иван Денкоглу 16<br> София, България<br> 9:00 - 23:00<br> 0886 796 888</p>
        </div>
        <!-- /.Intro Section: Logo, Heading & Address -->
    </div>
    <!-- /.container -->
</header>
<!-- /Header -->
<!-- About Section -->
<section id="about">
    <div class="container">
        <!-- Heading and Subheading -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="fadeInDown wow">
                    <h2 class="section-heading">За <span class="orange-accent">нас</span></h2>
                    <h3 class="section-subheading">Ние сме малка пекарна и ние произвеждаме вкусни десерти.</h3>
                </div>
            </div>
        </div>
        <!-- /.Heading and Subheading -->
        <!-- Border -->
        <div class="bounceIn wow">
            <div class="border">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <p><img alt="border" class="img-responsive center-block" height="26" src="~/CustomContent/img/border.svg" width="177"></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.Border -->
        <!-- Description -->
        <div class="fadeInUp wow">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <p>Всичко започна преди няколко години, когато Джули събра всичките си приятели за рождения си ден. Джули си помисли, че ще бъде страхотно да се пекат шоколадови чифтове кифлички и моркови с чаша тарталети с летни дегустации на сангрия.</p>
                    <p class="mrgn20-top">
                        Рожденият ден беше огромен успех и всичките й приятели обичаха вкусните десерти, които подготви. Няколко месеца по-късно Джули се запознава с Мат, който споделя любовта си към десерти и реши да отвори малък магазин за хлебни изделия в сърцето на
                        Единбург, градът, който са избрали да живеят.
                    </p>
                    <p class="mrgn20-top">
                        Сега, <strong>Baserville</strong> Е любимо място за хора със сладък зъб и те се събират всеки ден за вкусен десерт и кафе. Използваните продукти са естествени и <strong>
                            Baserville
                        </strong> Всеки ден мирише на Коледа. Елате за хапка, когато имате нужда от нещо сладко.
                    </p>
                </div>
            </div>
        </div>
        <!-- /.Description -->
    </div>
    <!-- /.container -->
</section>
<!-- /.About Section -->
<!-- Promotions Section -->
<section class="bg-darkest-gray" id="menu">
    <div class="container">
        <!-- Heading and Subheading -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="fadeInDown wow">
                    <h2 class="section-heading">Нашите <span class="orange-accent">Промоции</span></h2>
                    <h3 class="section-subheading">
                        Елате & опитайте нашите ежедневни специалитети.
                    </h3>
                </div>
            </div>
        </div>
        <!-- /.Heading and Subheading -->
        <!-- Sample Weekly Menu -->
        <div class="fadeInUp wow">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <div class="menu-bg">
                        <p>
                            @Model.Promotions
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.Sample Weekly Menu -->
    </div>
    <!-- /.container -->
</section>
<!-- /.Promotions Section -->
<!-- Events Section -->
<section id="events">
    <div class="container">

        <!-- Heading and Subheading -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="fadeInDown wow">
                    <h2 class="section-heading">Нашите <span class="dark-accent">Събития</span></h2>
                    <h3 class="section-subheading">Елате и се насладете на местни музиканти и художници.</h3>
                </div>
            </div>
        </div>
        <!-- /.Heading and Subheading -->
        <!-- Border -->
        <div class="bounceIn wow">
            <div class="border">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <p><img alt="border" class="img-responsive center-block" height="26" src="~/CustomContent/img/border.svg" width="177"></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.Border -->
        <!-- Description -->
        <div class="fadeInUp wow">
            <div class="row">
                <div class="col-lg-12">
                    <p class="mrgn20-btm">
                        Организираме вечери на живо на живо и изложения през уикенда всяка седмица. Всеки петък можете да се насладите на свежа музика от местните таланти. През уикендите проведохме малки изложби, за да покажем таланта на местните художници, фотографи
                        Или всеки, който е творчески и иска да покаже своето изкуство. Останете във връзка с Twitter и Facebook.
                    </p>
                </div>
            </div>
        </div>
        <!-- /.Description -->
        <!-- Events -->
        <div class="row">
            @Model.Events
        </div>
        <!-- /.Events -->
    </div>
    <!-- /.container -->
</section>
<!-- /.Events Section -->
<!-- Testimonials Section -->
<!-- Testimonials Section -->

<section id="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <!-- Owl Carousel -->
                <div id="owl-testimonials" class="owl-carousel">

                    @Model.News

                </div>
                <!-- /.Owl Carousel -->
            </div>
        </div>
    </div>
    <!-- /.container -->

</section>
<!-- /.Testimonials Section -->
<!-- Subscribe Section -->

<section id="subscribe">
    <div class="container">

        <!-- Contact Heading -->
        <div class="row">
            <div class="col-lg-12 mrgn20-top text-center">
                <div class="fadeInDown wow">
                    <h2 class="section-heading">Абонирайте се <span class="orange-accent">Сега</span></h2>
                    <h3 class="section-subheading">И да получавате актуализации за специални оферти</h3>
                </div>
            </div>
        </div>
        <!-- /.Contact Heading -->
        <!-- Border -->
        <div class="bounceIn wow">
            <div class="border">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <p><img alt="border" class="img-responsive center-block" height="26" src="~/CustomContent/img/border-white.svg" width="177"></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.Border -->
        <!-- Contact Form -->
        <div class="fadeInUp wow">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { @action = "/home/subscribe#subscribe", @id = "subscribeForm", name = "sentMessage" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-md-offset-3 col-md-6 text-center">
                        <div class="form-group">
                            @Html.EditorFor(model => model.SubscribeModelBg.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Вашият имейл *", @Name = "Email" } })
                            @Html.ValidationMessage("Email", "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.DropDownListFor(model => model.SubscribeModelBg.PreferedLanguage, Model.SubscribeModelBg.Languages, "Предпочитан Език", new { @class = "form-control", @Name = "PreferedLanguage" })
                            @Html.ValidationMessage("PreferedLanguage", "", new { @class = "text-danger" })
                        </div>
                        <button class="btn btn-contact" type="submit">Абонирай се</button>
                    </div>
                </div>
            }
        </div>
        <!-- /Contact Form -->
    </div>
    <!-- /.container -->
</section>

<!-- /.Subscribe Section -->
<!-- Contact Section -->

<section id="contact">
    <div class="container">
        <!-- Contact Heading, Location & Social Connections -->

        <div class="row">
            <div class="col-lg-12 text-center mrgn20-btm">
                <div class="fadeInDown wow">
                    <h2 class="section-heading">Свържете се с <span class="orange-accent">Нас</span></h2>
                    @*<p><img alt="Contact Us" class="img-responsive center-block" src="~/CustomContent/img/bits/fork-knife.svg"> </p>*@
                    <p><img alt="Contact Us" class="img-responsive center-block" src="~/CustomContent/img/Icons/paw-green72.png"> </p>
                    <p class="text-uppercase mrgn20-btm">ул. Иван Денкоглу 16<br> София, България<br> 9:00 - 23:00<br> 0886 796 888</p>
                    <ul class="list-inline social-buttons">
                        @*<li>
                                <a class="fa fa-twitter" href="https://www.facebook.com/designify.me"></a>
                            </li>*@
                        <li>
                            <a class="fa fa-facebook" href="https://www.facebook.com/designify.me"></a>
                        </li>
                        @*<li>
                                <a class="fa fa-linkedin" href="https://www.facebook.com/designify.me"></a>
                            </li>
                            <li>
                                <a class="fa fa-google-plus" href="https://www.facebook.com/designify.me"></a>
                            </li>
                            <li>
                                <a class="fa fa-pinterest-p" href="https://www.facebook.com/designify.me"></a>
                            </li>*@
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.Contact Heading, Location & Social Connections -->
    </div>
    <!-- /.container -->
    <!-- Location Map with an Iframe-->
    <div id="iframe">
        <div class="container-fluid">
            <div class="row">
                <iframe class="embed-responsive-item" height="300" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1626.098119222372!2d23.317461240401414!3d42.694095914672744!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa856c866bab91%3A0x96f19df673e6ee48!2sBaskerville!5e0!3m2!1sen!2sbg!4v1491065516169"
                        style="border:0" width="100%"></iframe>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.Location Map with an Iframe -->

    <div class="container">

        <!-- Contact Heading -->
        <div class="row">
            <div class="col-lg-12 mrgn20-top text-center">
                <div class="fadeInDown wow">
                    <h2 class="section-heading">Изпратете ни <span class="orange-accent">Съобщение</span></h2>
                    <h3 class="section-subheading">Имате ли въпроси или просто искате да резервирате маса? Изпратете ни съобщение и ние ще отговорим най-бързо.</h3>
                </div>
            </div>
        </div>
        <!-- /.Contact Heading -->
        <!-- Border -->
        <div class="bounceIn wow">
            <div class="border">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <p><img alt="border" class="img-responsive center-block" height="26" src="~/CustomContent/img/border.svg" width="177"></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.Border -->
        <!-- Contact Form -->
        <div class="fadeInUp wow">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { @action = "/home/send#contactForm", @id = "contactForm", name = "sentMessage" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.EditorFor(model => model.ContactModelBg.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Вашето име *", @Name = "Name" } })
                            @Html.ValidationMessage("Name", "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.EditorFor(model => model.ContactModelBg.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Вашият имейл *", @Name = "Email" } })
                            @Html.ValidationMessage("Email", "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.EditorFor(model => model.ContactModelBg.PhoneNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "Вашият телефон *", @Name = "PhoneNumber" } })
                            @Html.ValidationMessage("PhoneNumber", "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.DropDownListFor(model => model.ContactModelBg.Subject, Model.ContactModelBg.Subjects, "Как да Ви бъдем полезни?", new { @class = "form-control", @Name = "Subject" })
                            @Html.ValidationMessage("Subject", "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.TextAreaFor(model => model.ContactModelBg.Message, new { @class = "form-control", placeholder = "Кажете ни малко от Вашето събитие или вечер с нас *", @Name = "Message" })
                            @Html.ValidationMessage("Message", "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                    <div class="col-lg-12 text-left">
                        <div id="success"> </div>
                        <button class="btn btn-contact" type="submit">Изпрати</button>
                    </div>
                </div>
            }
        </div>
        <!-- /Contact Form -->
    </div>
    <!-- /.container -->
</section>
<!-- /.Contact Section -->

@Html.Partial("_Footer")

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}