<nav class="navbar navbar-default nav-justified navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle are grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
        <!-- Navigation Links -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav nav-justified">
                <li> @Html.ActionLink("Home", "Index", "Home", null, null, "home", null, new { @class = "page-scroll" }) </li>
                <li> @Html.ActionLink("About", "Index", "Home", null, null, "about", null, new { @class = "page-scroll" }) </li>
                <li> @Html.ActionLink("Menu", "Menu", "Home", null, new { @class = "page-scroll" }) </li>
                <li> @Html.ActionLink("Promotions", "Index", "Home", null, null, "menu", null, new { @class = "page-scroll" }) </li>
                <li> @Html.ActionLink("Events", "Index", "Home", null, null, "events", null, new { @class = "page-scroll" }) </li>
                <li> @Html.ActionLink("Contact us", "Index", "Home", null, null, "contact", null, new { @class = "page-scroll" }) </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<!-- /.Navigation -->
 
<!-- Header Small -->
<header id="servicesbg">
    <div class="container">
        <!-- Intro Section: Logo and Heading -->
        <div class="intro-text-sm">
            <div class="intro-lead-in">
                <img alt="Full Spoon" class="img-responsive center-block" height="80" src="~/CustomContent/img/full-spoon-logo.svg" width="450">
                <p><img alt="Full Spoon" src="~/CustomContent/img/bits/cake.svg"> </p>
                <div class="intro-heading"> Muffins & Cakes Café </div>
            </div>
        </div>
        <!-- /.Intro Section: Logo and Heading -->
    </div>
    <!-- /.container -->
</header>
<!-- ./Header Small -->
<!-- Services Section -->
<section id="services">
    <div class="container">
        <!-- Heading and Subheading -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our <span class="orange-accent">Services</span></h2>
                <h3 class="section-subheading">We can make your party really delicious.</h3>
            </div>
        </div>
        <!-- /.Heading and Subheading -->
        <!-- Border -->
        <div class="border">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p><img alt="border" class="img-responsive center-block" height="26" src="~/CustomContent/img/border.svg" width="177"> </p>
                </div>
            </div>
        </div>
        <!-- /.Border -->
        <!-- Description -->
        <div class="row">
            <div class="col-lg-12 mrgn20-btm">
                <p>
                    We can prepare custom cake and muffin menu for every ocassion. For birthday parties, we can create custom looking cupcakes to reflect the personality of the person celebrating. Sweet or sour - we can take care for all your guests.
                </p>
                <p class="mrgn20-top">We have a special drinks menu for occassions that require alcoholic drinks. We can prepare a summer sangria coctails or mohitos. Strawberry lemonade or cherry vodka shots.</p>
                <p class="mrgn20-top">
                    If you want to try a sample menu, give us a shout and we will arrange a sample tasting meeting.
                </p>
            </div>
        </div>
        <!-- /.Description -->
        <!-- Menu Cards Connected to Popups -->
        <div class="row">
            <!-- Menu Cards 01 -->
            <div class="col-sm-4 menu-item text-center">
                <div class="bg-darkest-gray">
                    <a class="menu-link" data-toggle="modal" href="#menuModal1">
                        <div class="menu-hover">
                            <div class="menu-hover-content"> <i class="fa fa-plus fa-3x"></i> </div>
                        </div>
                        <img alt="Coctails and Shots" class="mrgn20-top" src="~/CustomContent/img/bits/lemon.svg">
                        <div class="menu-caption">
                            <h4>Coctails and Shots</h4>
                        </div>
                    </a>
                </div>
            </div>
            <!-- /.Menu Cards 01 -->
            <!-- Menu Cards 02 -->
            <div class="col-sm-4 menu-item text-center">
                <div class="bg-darkest-gray">
                    <a class="menu-link" data-toggle="modal" href="#menuModal2">
                        <div class="menu-hover">
                            <div class="menu-hover-content"> <i class="fa fa-plus fa-3x"></i> </div>
                        </div>
                        <img alt="Coffee & Tea" class="mrgn20-top" src="~/CustomContent/img/bits/cappuccino.svg">
                        <div class="menu-caption">
                            <h4>Coffee & Tea</h4>
                        </div>
                    </a>
                </div>
            </div>
            <!-- /.Menu Cards 02 -->
            <!-- Menu Cards 03 -->
            <div class="col-sm-4 menu-item text-center">
                <div class="bg-darkest-gray">
                    <a class="menu-link" data-toggle="modal" href="#menuModal3">
                        <div class="menu-hover">
                            <div class="menu-hover-content"> <i class="fa fa-plus fa-3x"></i> </div>
                        </div>
                        <img alt="Special cupcakes" class="mrgn20-top" src="~/CustomContent/img/bits/cupcake.svg">
                        <div class="menu-caption">
                            <h4>Special cupcakes</h4>
                        </div>
                    </a>
                </div>
            </div>
            <!-- /.Menu Cards 03 -->
        </div>
        <!-- Menu Cards 04 -->
        <div class="row">
            <div class="col-sm-4 menu-item text-center">
                <div class="bg-darkest-gray">
                    <a class="menu-link" data-toggle="modal" href="#menuModal4">
                        <div class="menu-hover">
                            <div class="menu-hover-content"> <i class="fa fa-plus fa-3x"></i> </div>
                        </div>
                        <img alt="Fruit salads & Drinks" class="mrgn20-top" src="~/CustomContent/img/bits/forest-fruit.svg">
                        <div class="menu-caption">
                            <h4>Fruit salads & Drinks</h4>
                        </div>
                    </a>
                </div>
            </div>
            <!-- /.Menu Cards 04 -->
            <!-- Menu Cards 05 -->
            <div class="col-sm-4 menu-item text-center">
                <div class="bg-darkest-gray">
                    <a class="menu-link" data-toggle="modal" href="#menuModal5">
                        <div class="menu-hover">
                            <div class="menu-hover-content"> <i class="fa fa-plus fa-3x"></i> </div>
                        </div>
                        <img alt="Salty Nibbles" class="mrgn20-top" src="~/CustomContent/img/bits/pretzel.svg">
                        <div class="menu-caption">
                            <h4>Salty Nibbles</h4>
                        </div>
                    </a>
                </div>
            </div>
            <!-- /.Menu Cards 05 -->
            <!-- Menu Cards 06 -->
            <div class="col-sm-4 menu-item text-center">
                <div class="bg-darkest-gray">
                    <a class="menu-link" data-toggle="modal" href="#menuModal6">
                        <div class="menu-hover">
                            <div class="menu-hover-content"> <i class="fa fa-plus fa-3x"></i> </div>
                        </div>
                        <img alt="Custom menus" class="mrgn20-top" src="~/CustomContent/img/bits/pot.svg">
                        <div class="menu-caption">
                            <h4>Custom menus</h4>
                        </div>
                    </a>
                </div>
                <!-- /.Menu Cards 06 -->
            </div>
        </div>
        <!-- /.Menu Cards Connected to Popups -->
    </div>
    <!-- /.container -->
</section>
<!-- /.Services Section -->
<!-- Testimonials Section -->
<section id="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <!-- Owl Carousel -->
                <div id="owl-testimonials" class="owl-carousel">
                    <!-- Testimonial 01 -->
                    <div class="item">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1  col-xs-10 col-xs-offset-1">
                                <h2>Jason's Birthday Party</h2>
                                <p class="mrgn30-top-btm">Our son's 16<sup>th</sup> party was a huge success because of all the guys from Full Spoon. It is very difficult to please a crows of teenagers but somehow they managed to do it. Thanks!!!</p>
                                <p class="orange-accent">Sheena and Mark from Inverness</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.Testimonial 01 -->
                    <!-- Testimonial 02 -->
                    <div class="item">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1  col-xs-10 col-xs-offset-1">
                                <h2>Beautiful Engagement Reception</h2>
                                <p class="mrgn30-top-btm">
                                    We chose Full Spoon to host our engagement party which was an overwhelming success. All of our relatives and friends were impressed with everything they did. Music was fantastic. The food was more than delicious. Drinks
                                    were the outmost success. We are thinking of asking them to host our wedding.
                                </p>
                                <p class="orange-accent">John and Adina from Glasgow</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.Testimonial 02 -->
                    <!-- Testimonial 03 -->
                    <div class="item">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1  col-xs-10 col-xs-offset-1">
                                <h2>Ben's Baby Shower</h2>
                                <p>We love you guys! The Baby Shower was magical. Parents loved it. Children loved it. We are your friends and clients forever! </p>
                                <p class="orange-accent">Bernie and Jenny from Manchester</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.Testimonial 03 -->
                </div>
                <!-- /.Owl Carousel -->
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /.Testimonials Section -->
<!-- Footer -->

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12"> <span class="copyright">Copyright &copy;<a href="http://designify.me/" target="_blank">Designify.me</a></span> </div>
        </div>
    </div>
    <!-- /.container -->
</footer>
<!-- /.Footer -->