@model Baskerville.Models.ViewModels.MessageViewModel

@{
    ViewBag.Title = "Съобщение";
}

<h2>Съобщение</h2>
@using (Html.BeginForm("Message", "Events", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.SubjectBg, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SubjectBg, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SubjectBg, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ContentBg, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.ContentBg, new { rows = "5", cols = "40", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ContentBg, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-6">

                <div class="form-group">
                    @Html.LabelFor(model => model.SubjectEn, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SubjectEn, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SubjectEn, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ContentEn, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.ContentEn, new { rows = "5", cols = "40", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ContentEn, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
        </div>       

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Изпрати" class="btn btn-primary" />
                        @Html.ActionLink("Обратно", "Index", null, new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>
        </div>

    </div>
}