<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/CustomContent/img/Icons/paw32.png">
    <link rel="apple-touch-icon" href="~/CustomContent/img/Icons/paw57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/CustomContent/imgIcons/paw72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/CustomContent/img/Icons/paw114.png">
    <title>@ViewBag.Title - Club Baskerville | since 1999</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Baskerville", "index", "home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Статистика", "index", "statistics")</li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Абонати <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Списък", "index", "subscribers")</li>
                            <li>@Html.ActionLink("Съобщение", "message", "subscribers")</li>
                        </ul>
                    </li>

                    <li>@Html.ActionLink("Продукти", "index", "products")</li>
                    <li>@Html.ActionLink("Събития", "index", "events")</li>
                    <li>@Html.ActionLink("Промоции", "index", "promotions")</li>
                    <li>@Html.ActionLink("Новини", "index", "news")</li>
                    @if (this.User.IsInRole("Admin") || this.User.IsInRole("Owner"))
                    {
                        <li>@Html.ActionLink("Потребители", "index", "users")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Baskerville</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
