@model Baskerville.Models.ViewModels.StatisticsViewModel

@{
    ViewBag.Title = "Статистика";
}
<h2>Статистика</h2>
<hr />
<br />
<div class="row">    
    <div class="col-md-6">
        <h5 style="text-align: center">Последни влизания</h5>
        <table style="margin-top: 50px" class="table table-hover">
            <thead>
                <tr>
                    <th>Потребител</th>
                    <th>Дата</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var log in Model.LastLogs)
                {
                    <tr>
                        <td>@log.Username</td>
                        <td>@log.Date.ToString("dd.MM.yyyy HH:mm")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <h5 style="text-align: center">Абонати - Предпочитан език</h5>
        <p style="text-align: center">(Общо активни абонати: @(Model.BulgarianSpeakersCount + Model.EnglishSpeakersCount))</p>
        <div id="piechart" style="width: 600px; height: 450px;"></div>
    </div>
</div>



<div class="row">
    <div class="col-md-12">
        <h5 style="text-align: center">Посещения и нови абонати</h5>
        <p style="text-align: center">(Общо посещения: @Model.TotaVisits)</p>
        <div class="label-select">
            <label class="inline-label"> Покажи данни за @Html.DropDownList("Year", new SelectList(Model.YearsRange), new { @class = "form-control input-sm inline-select", @id = "year" }) годинa </label>
        </div>
        <div id="chart_div"></div>
    </div>
</div>


@section scripts
{
    <!--online charts https://www.gstatic.com/charts/loader.js -->

    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart', 'bar'] });
        google.charts.setOnLoadCallback(drawPieChart);
        google.charts.setOnLoadCallback(drawBarChart);       

        $('#year').change(drawBarChart)

        function drawPieChart() {

            var dataPC = google.visualization.arrayToDataTable([
              ['Task', 'Hours per Day'],
              ['Български', @Model.BulgarianSpeakersCount],
              ['Английски', @Model.EnglishSpeakersCount],
            ]);

            var optionsPC = {
                //title: 'My Daily Activities'
            };

            var pieChart = new google.visualization.PieChart(document.getElementById('piechart'));

            pieChart.draw(dataPC, optionsPC);
        }

        function drawBarChart() {
            y = document.getElementById("year").value;

            var row = "";
            var rows = new Array();
            rows.push( [ "Месец", "Посещения", "Нови Абонати" ] );

            $.getJSON("/statistics/MontlyData", { year: y }, function (data) {
                $.each(data, function (index, element) {
                    row = [element.Month, parseInt(element.HitsCount), parseInt(element.SubscribesCount)];
                    rows.push(row);
                })

                var gData = google.visualization.arrayToDataTable(rows);

                var optionsBC = {
                    barChart: {
                        //title: 'Company Performance',
                        //subtitle: 'Sales, Expenses, and Profit: 2014-2017',
                    },
                    bars: 'vertical',
                    vAxis: { format: 'short' },
                    height: 400,
                    width: 1250,
                    colors: ['#1b9e77', '#d95f02']
                };

                var barChart = new google.charts.Bar(document.getElementById('chart_div'));
                barChart.draw(gData, google.charts.Bar.convertOptions(optionsBC));
            })
        }
    </script>
}