 <!-- Navigation -->
<nav class="navbar navbar-default nav-justified navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle are grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
        <!-- Navigation Links -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav nav-justified">
                <li> @Html.ActionLink("Home", "Index", "Home", null, null, "home", null, new { @class = "page-scroll" }) </li>
                <li> @Html.ActionLink("About", "Index", "Home", null, null, "about", null, new { @class = "page-scroll" }) </li>
                <li> @Html.ActionLink("Menu", "Index", "Menu", null, new { @class = "page-scroll" }) </li>
                <li> @Html.ActionLink("Promotions", "Index", "Home", null, null, "menu", null, new { @class = "page-scroll" }) </li>
                <li> @Html.ActionLink("Events", "Index", "Home", null, null, "events", null, new { @class = "page-scroll" }) </li>
                <li> @Html.ActionLink("Subscribe", "Index", "Home", null, null, "subscribe", null, new { @class = "page-scroll" }) </li>
                <li> @Html.ActionLink("Contact us", "Index", "Home", null, null, "contact", null, new { @class = "page-scroll" }) </li>
                <li> <a href="/home">BG <img src="~/CustomContent/img/icons/flag-bg.png" alt="BG" /></a> </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<!-- /.Navigation -->
