@model IEnumerable<Baskerville.Models.ViewModels.NewsViewModel>


@{
    ViewBag.Title = "Новини";
}

<h2>Новини</h2>
<hr />
@Html.ActionLink("Добави", "create", null, new { @class = "btn btn-success" })
<br />
<br />
<table id="news" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Заглавие</th>
            <th>От</th>
            <th>Публично</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var news in Model)
        {
            string publicColorClass = "btn-default-text";
            string publicText = "Не";
            if (news.IsPublic)
            {
                publicColorClass = "btn-success-text";
                publicText = "Да";
            }

            <tr>
                <td>@Html.ActionLink(news.TitleBg, "Details", new { id = news.Id })</td>
                <td>@news.FromBg</td>
                <td>
                    <button news-id="@news.Id" class="btn-link @publicColorClass js-update">@publicText</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#news").DataTable({
                "oLanguage": {
                    "sSearch": "Търси",
                    "sZeroRecords": "Няма намерени резултати",
                    "sInfoFiltered": "- филтрирано от общо _MAX_ записа",
                    "sInfo": "Страница _PAGE_ от _PAGES_ (_TOTAL_ резултата)",
                    "sInfoEmpty": "Няма записи",
                    "sLengthMenu": "Показвай _MENU_ резултата на страница",
                    "oPaginate": {
                        "sNext": "Следваща",
                        "sPrevious": "Предишна"
                    }
                }
            });

            $('#news').on('click', '.js-update', function () {
                var button = $(this);

                $.ajax({
                    method: 'POST',
                    url: '/admin/news/UpdatePublicity',
                    ajaxasync: true,
                    data: { id: button.attr('news-id') },
                    success: function () {
                        var v = button.text();
                        if (v === 'Да') {
                            button.text('Не')
                            button.removeClass('btn-success-text')
                            button.addClass('btn-default-text')
                        } else {
                            button.text('Да')
                            button.removeClass('btn-default-text')
                            button.addClass('btn-success-text')
                        }
                    }
                })
            })
        })
    </script>
}

