@model Baskerville.Models.ViewModels.ProductViewModel

@if (Model.Id == 0)
{
   ViewBag.Title = "Добави";
}
else
{
   ViewBag.Title = "Преглед";
}

<h2>@ViewBag.Title</h2> 

@using (Html.BeginForm("save", "products", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @if (Model.Id != 0)
        {
            <h4>@Model.NameBg</h4>
        }
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.NameBg, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NameBg, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NameBg, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NameEn, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NameEn, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NameEn, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DescriptionBg, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DescriptionBg, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DescriptionBg, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DescriptionEn, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DescriptionEn, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DescriptionEn, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PrimaryCategoryId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.PrimaryCategoryId, new SelectList(Model.PrimaryCategories, "Id", "NameBg"), "Изберете категория", new { @class = "form-control", @id = "primaryCategory" })
                @Html.ValidationMessageFor(model => model.PrimaryCategoryId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SubcategoryId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SubcategoryId, new SelectList(Model.Subcategories, "Value", "Text"), "Изберете подкатегория", new { @class = "form-control", @id = "subCategory" })
                @Html.ValidationMessageFor(model => model.SubcategoryId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsPublic, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox padded-checkbox">
                    @Html.EditorFor(model => model.IsPublic)
                    @Html.ValidationMessageFor(model => model.IsPublic, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Запази" class="btn btn-primary" />
                @Html.ActionLink("Обратно", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval");

    <script type="text/javascript">
        $(function () {
            $("#primaryCategory").change(function () {
                var val = $(this).val();
                var subCategories = "";
                $.post("/admin/products/GetSubCategories", { id: val }, function (data) {
                    $.each(data, function (index, category) {
                        subCategories += "<option value='" + category.Value + "'>" + category.Text + "</option>"
                    });
                    if (subCategories === "") {
                        $("#subCategory").html("<option value=''>Изберете подкатегория</option>")
                    }
                    else {
                        $("#subCategory").html(subCategories)
                    }
                });
            });
        });
    </script>
}